.input, .select {
  width: 150px;
  margin-right: 8px;
}

.input > div > div, .select button {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input label {
  color: black;
}

.input input::placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.15;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.tooltip {
  max-width: 250px;
  padding: 12px;
}

@media (max-width: 720px) {

  .row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .row .input, .row .select {
    width: 150px;
    margin-bottom: 12px;
  }
}