.container {
  max-width: 800px;
}

.title {
  font-size: 32px;
}

.sectionsList {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

.subList {
  margin-left: 16px;
}

.list {
  margin: 32px 0;
}

.list > li {
  /* margin-bottom: 8px; */
}

.section {
  margin-bottom: 48px;
}

.section h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

.link {
  color: var(--linkBlue);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
}

.section h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 16px 0 8px 0;
}

.section p {
  margin-bottom: 16px;
}

.indicators {
  color: var(--linkBlue);
}

.entryEx,
.exitEx {
  background-color: rgba(0, 0, 0, 0.025);
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 4px;
  margin-bottom: 8px;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--linkBlue);
}

.examples {
  margin-bottom: 16px;
}

.parameter {
  margin-bottom: 16px;
}

.parameter span {
  font-weight: 600;
  color: var(--linkBlue);
}

.exitCriteria p span {
  font-weight: 600;
}

.exitCriteria .exitEx {
  margin-top: 8px;
}

.loomContainer {
    margin-bottom: 16px;
}

.loomContainer > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.loomContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cta {
  border-radius: 4px;
}