.container .button {
  border-radius: 4px;
}

.header {
  margin-bottom: 28px;
}

.content {
  text-align: center;
  width: 650px;
}

.content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}

.content h1 span {
  color: var(--linkBlue);
}

.content h2 {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.25);
  font-size: 28px;
}

.loomContainer {
  margin-bottom: 24px;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.loomContainer > div {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.loomContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer .crossed {
  text-decoration: line-through;
  font-weight: 600;
  margin-right: 8px;
}

.offer .free {
  font-weight: 600;
}

.free span,
.crossed span {
  color: var(--linkBlue);
}

@media (max-width: 720px) {
  .content {
    width: 100%;
  }

  .content h1 {
    margin-bottom: 16px;
  }
}
