.input,
.select {
  width: 150px;
  margin-right: 8px;
}

.input > div > div,
.select button {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input label {
  color: black;
}

.input input::placeholder {
  color: rgba(0, 0, 0);
  opacity: 0.15;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.tooltip {
  max-width: 250px;
  padding: 12px;
}

.customDates {
  display: flex;
  align-items: center;
}

.period {
  display: flex;
  align-items: flex-end;
}

.period .select {
  margin-right: 8px;
}